* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
    background-color: #fff;
}
.gender{
    padding-top: 36px;
}
.gender .form-check-input[type=checkbox] {
    border-radius:50%;
}